@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 4s;
  }
}

@layer base {
  body {
    @apply bg-[#ECF0F3] text-[#1F2937] dark:bg-[#272626] dark:text-gray-100 transition-all duration-500;
  }
  input[type="text"]:focus ~ .float-text {
    @apply text-blue-700 dark:text-[#f15bff] bg-[#ECF0F3] dark:bg-[#272626] transform -translate-y-6 text-2xl scale-75;
  }

  input[type="email"]:focus ~ .float-email {
    @apply text-blue-700 dark:text-[#f15bff] bg-[#ECF0F3] dark:bg-[#272626] transform -translate-y-6 text-2xl scale-75;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  li {
    @apply cursor-pointer;
  }
}
